
#heading {
    background-image: url("https://images.unsplash.com/photo-1562104636-70a023d6cb60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    height: 90px;
    text-align: center;
    padding: 20px;
    color: rgb(3,3,58);
    margin-bottom: 20px;
}

label {
    font-size: 20px;
    margin-right: 20px;
}

input {
    margin-right: 20px;
    width: 40px;
}

#dropDown {
    visibility: hidden;
    margin-bottom: 20px;
}



#cont1 {
    float: left;
    margin-right: 0px;
    margin-top: 5%;
    height: 300px;
}
#cont2 {
    float: right;
    margin-top: 3%;
    margin-right: 40%;
    

}
#cont3 {
    clear: both;
    padding: 30px;
    margin-bottom: 20px;
    ;
}
#cont4 {
    padding: 30px;
    ;
}

#cont0 {
    width: 1000px;
    padding: 5px;
    ;
}
