
#heading {
    background-image: url("https://images.unsplash.com/photo-1562104636-70a023d6cb60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    height: 90px;
    text-align: center;
    padding: 20px;
    color: skyblue;
}


